@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: Roboto, sans-serif;
}

#preview {
    width: 650px;
    height: 650px;
    border: 1px solid black;
}

.row {
    display: table-row;
}

.col {
    display: table-cell;
    vertical-align: top;
}

textarea {
    margin-right: 20px;
}